/* PELICAN SPECIFIC*/
/*****************************************************************************/
.entry-content{
  margin-top: 1rem;
}

.entry-content table{
  margin-left: auto;
  margin-right: auto;
}

li{
  padding-left: 1ex;
}

#post-list{
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}
#post-list li{
  padding-left: 0;
}

.footer-logo{
  width:  120px;
  margin-top: 0;
}
.post-info{
  margin-bottom: 3rem;
}

.series{
  margin-top: 1rem;
}

.hentry p{ /* Reduce margin in the news section*/
  margin-bottom: 1ex;
}

.published{
  font-style: italic
}

@media (min-width: 800px){ /*more than a tablet*/
  .hentry header{
    width: 100%;
    min-width: 100%;
    display: inline-flex;
    flex: 1;
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .published{
    font-style: normal;
  }
}

/* Typography pelican
 */
.hentry .entry-content h1{ font-size: 2.2rem; }
.hentry .entry-content h2{ font-size: 2.0rem; }
.hentry .entry-content h3{ font-size: 1.8rem; }
.hentry .entry-content h4{ font-size: 1.6rem; }
.hentry .entry-content h5{ font-size: 1.4rem; }
.hentry .entry-content h6{ font-size: 1.2rem; }

h2.entry-title{
  font-size: 3.0rem; line-height: 1.2;
}
h3.entry-title{
  line-height: 1.2;
  margin-bottom: 1ex;
}

h1{
  text-align: left;
  text-decoration: none;
  margin-top: 2ex;
  margin-bottom: 0;
  font-size: 3.4rem;
  line-height: 1.2;
  font-family: "LatoLatinWeb", Helvetica, Arial, sans-serif;
}

h1.main-title {
  font-size: 4.5rem; line-height: 1;  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "LatoLatinLightWeb", Helvetica, Arial, sans-serif;
}
h1 span.subtitle{
  font-size: 2.5rem;
}


.footnote{
  margin-top: 4em;
  border-top: 1px solid var(--border-color);
}


/*Colorscheme selectable via JS with smooth transition*/

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html[data-theme="light"]{
  --bg-color:    #FFF;
  --tx-color:    #222;
  --link-color:  #1EAEDB;
  --border-color:#EEE;
}
html[data-theme="dark"] {
  --bg-color:    #2F2F2F;
  --tx-color:    #FFF;
  --link-color:  #1EAEDB;
  --border-color:#4A4A4A;
}

.theme-icon{
  display: none;

  width: 2.5em;
  height: auto;

  margin: 2px;
  margin-bottom: -7px;
}

#sun { fill: white; }
#moon{ fill: black; }
#dark-light-switch{
  display: none;
  background: none;
  border: none;
}
#dark-light-switch[color="light"] > #moon{display:inline-block;}
#dark-light-switch[color="dark"]  > #sun {display:inline-block;}

@media only screen{
  #dark-light-switch{
    display: inline-block;
  }
}
