/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism&languages=bash+clojure+latex+lisp+lua+makefile+perl+sql+python+scheme+yaml */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 * 
 * Edited by Ekaitz Zarraga to make it fit in ElenQ Technology style.
 */

pre.highlight,
code[class*="language-"],
pre[class*="language-"] {
  background: none;
  font-family: "monospace";
  font-size: 0.9em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code {
  padding: .1em;
  border-radius: .3em;
  font-size: 0.9em;
  white-space: normal;
  background-color: var(--background-color);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--property);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--builtin);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--keyword);
}

.token.function,
.token.class-name {
  color: var(--function);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--variable);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}


/**
 * Prism default colorscheme
 */
@media (prefers-color-scheme: light) or (prefers-color-scheme: no-preference) {
  :root{
    --base: black;
    --comment: slategray;
    --punctuation: #999;
    --property: #905;
    --builtin: #690;
    --operator: #9a6e3a;
    --keyword: #07a;
    --function: #DD4A68;
    --variable: #e90;
    --background-color:  #e8e8e8;
  }
}

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 *
 * Strongly edited by Ekaitz Zárraga to fit on the default theme
 */

@media (prefers-color-scheme: dark){
  :root{
    --base: #f8f8f2;
    --comment: #6272a4;
    --punctuation: #f8f8f2;
    --property: #ff79c6;
    --builtin: #50fa7b;
    --operator: #f8f8f2;
    --keyword: #8be9fd;
    --function: #f1fa8c;
    --variable: #ffb86c;
    --background-color:  #565656;
  }
}



/* Make editable via JS */

html[data-theme="light"]{
    --base: black;
    --comment: slategray;
    --punctuation: #999;
    --property: #905;
    --builtin: #690;
    --operator: #9a6e3a;
    --keyword: #07a;
    --function: #DD4A68;
    --variable: #e90;
    --background-color:  #e8e8e8;
}

html[data-theme="dark"]{
    --base: #f8f8f2;
    --comment: #6272a4;
    --punctuation: #f8f8f2;
    --property: #ff79c6;
    --builtin: #50fa7b;
    --operator: #f8f8f2;
    --keyword: #8be9fd;
    --function: #f1fa8c;
    --variable: #ffb86c;
    --background-color:  #565656;
}
