<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    {% if MASTODON_HANDLE %}
    <meta name="fediverse:creator" content="{{ MASTODON_HANDLE }}">
    {% endif %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM|format(category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL|format(category.slug) }}{% else %}{{ CATEGORY_FEED_RSS|format(category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_ATOM|format(tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL|format(tag.slug) }}{% else %}{{ TAG_FEED_RSS|format(tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    {% endblock head %}

    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/normalize.css">
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/elenq.css">
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/elenq-pelican.css">
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/fonts.css">
    <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/prism.css">
    {% if MASTODON_PROFILE %}
    <link rel="me" href="{{ MASTODON_PROFILE }}">
    {% endif %}

    <script type="text/javascript" async src="/{{ THEME_STATIC_DIR }}/js/prism-hl.js"></script>
    <script type="text/javascript" async src="/{{ THEME_STATIC_DIR }}/js/colorscheme-switcher.js"></script>
  </head>

  <body id="index" class="home">
    <header class="mainheader">
      <div class="container">
      <nav id="menu" class="navbar">
        <div class="navbar-left">
          {% for title, link in MENUITEMS %}
          <a class="navbar-link link-left" href="{{ link }}">{{ title }}</a>
          {% endfor %}
          {% if DISPLAY_CATEGORIES_ON_MENU -%}
          {% for cat, null in categories %}
          <a class="navbar-link link-left {% if cat == category %}active{% endif %}" href="/{{ cat.url }}">{{ cat }}</a>
          {% endfor %}
          {% endif %}
        </div>
          <hr class="short navbar-separator"/>
        <div class="navbar-right">

          {% if FEED_ALL_ATOM %}
          <a  class="navbar-link link-right" href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}">Feed</a>
          {% endif %}

          {% if DISPLAY_PAGES_ON_MENU -%}
          {% for pg in pages %}
          <a  class="navbar-link link-right {% if pg == page %}active{% endif %}" href="/{{ pg.url }}">{{ pg.title }}</a>
          {% endfor %}
          {% endif %}
          <button name="switch" id="dark-light-switch" class="navbar-link link-right" title="Toggle dark or light colorscheme">
              {% include "_sun.svg" %}
              {% include "_moon.svg" %}
          </button>
        </div>
      </nav>
      </div>
    </header>
      <div class="content container">
        <h1 class="main-title"><a class="text-nodeco-black" href="/">{{ SITENAME }}{% if SITESUBTITLE %}:<br/><span class="subtitle">{{ SITESUBTITLE }}</span>{% endif %}</a></h1>
        {% block content %}
        {% endblock content %}
      </div>
      <footer id="contentinfo" class="bar-bottom">
        <address id="about" class="container text-center">
          Supported by:
        </address><!-- /#about -->

        <div class="container text-center">
          <a href="https://elenq.tech">
              {% include "_logo.svg" %}
          </a>
        </div>
      </footer><!-- /#contentinfo -->
  </body>
</html>
