{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<h2>{{ tag }}</h2>
{% endblock %}

<ol id="post-list">
{% for article in dates_page.object_list | reverse %}
    <li><article class="hentry">
            <header>
                <h3 class="entry-title"><a class="text-nodeco-black" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3>
                <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time> </header>
        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        <footer><a href="{{SITEURL}}/{{article.url}} ">Read More</a></footer>
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% if dates_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
