{% extends "base.html" %}
{% block title %}Tags &mdash; {{ SITENAME }}{% endblock %}
{% block content %}
<section id="content">
    <h2>Published article series</h2>

    <p>
    {% for tag, articles in tags|sort %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a> ({{ articles|count }})<br>
    {% endfor %}
    </p>
</section>
{% endblock %}
